/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(175, 158, 190);
}

container {
    width: 80%;
    margin: 0 auto;
}

/* Estilos del encabezado */
.header{
    background-color: #be86a5;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Estilos de la barra de navegación */
nav {
    background-color: #96688c;
    padding: 10px 0;
}
